body {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 15px;
  font-family: "times new roman",serif;
}

h1{
  font-size: 2.8em;
  line-height: 2em;
  text-align: left;
  font-weight: bold;
}

h3{
  font-size: 1em;
  line-height: 1.4em;
}

p{
  font-size:100%;
}

/* edit navigation elements here */
nav {
  background-color: #000000;
  color: #FFFFFF;
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
  background: url(images/bloc-logo.png)
  background-repeat: no-repeat;
}

.left, .right {
  float: left;
  width: 50%;
  color: #FFFFFF;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

a:hover {
  color: #0BF8C9;
}


/** edit content layout here **/

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

.medium-pic {
  width: 50%;
  background-image: url(file:///Users/christiechang/css-exercise-two/images/instagram-pic.jpg);
}

/** edit content elements here **/

.figcaption{
  font-size: .8em;
  text-align: left;
  line-height: 1.8em;
}


.author{
  font-size: 1em;
  font-weight: bold;
  line-height: 4em;
}

.story-text{
  color: #000000;
  font-size: 1em;
  text-align: left;
  line-height: 1.4em;
  width: 75%;
}
