/**content**/

body {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 16px;
  font-family: arial,sans-serif;
  line-height: 1.7em;
  text-align: left;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 2em;
}

h3 {
  font-size: 1.2em
}

.story-text {
  font-size: 100%;
  line-height: 1.3em;
}

.author {
  font-size: 1em;
  text-transform: capitalize;
  font-weight: bold;
  line-height: 4em;
}

figcaption {
  font-size: .7em;
}

.medium-pic {
  background-image: url(images/instagram-pic.jpg);
  width: 60%;
  background-position: right;
}


/** nav **/

nav {
  background-color: #000000;
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
  background-image: url(images/bloc-logo.png);
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

a:hover{
  color: #08EAF6;
}


ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 120px;
}

.container {
  margin: 0 auto;
  width: 52%;
}
